In [1]:
import pandas as pd
import glob

In [2]:
# use glob to read in all restaurant datasets

# specify a pattern of the file and pass it as a parameter into a glob function
csv_files = glob.glob('ecommerce/*.csv')

In [3]:
# intialize empty list that we will append dataframes to
list_data = []

# write a for loop that will go through each of the file name through globbing and the end result will be the list of dataframes
for filename in csv_files:
    data = pd.read_csv(filename)
    list_data.append(data)

In [4]:
# since each dataset has similar format we can aggregate them and run them altogether
df_agg = pd.concat(list_data, ignore_index=True)

In [5]:
df_agg.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state,product_category_name,product_category_name_english,order_id,customer_id,order_status,order_purchase_timestamp,...,review_comment_message,review_creation_date,review_answer_timestamp,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,3442f8959a84dea7ee197c632cb2df15,13023.0,campinas,SP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844.0,mogi guacu,SP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031.0,rio de janeiro,RJ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_agg.shape

(1551698, 45)

In [7]:
df_agg.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'product_category_name', 'product_category_name_english', 'order_id',
       'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'shipping_limit_date', 'price',
       'freight_value', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'geolocation_zip_code_prefix',
       'geolocation_lat', 'geolocation_lng', 'geolocation_city',
       'geolocation_state', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'review_id', 'review_score',
       'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm'],
      dtype='object')

In [8]:
#df_agg.isnull().sum()

In [9]:
#df_agg.to_csv('olist_dataset.csv')