# Exploratory Data Analysis

### import requirements

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

### load datasets

In [5]:
df1 = pd.read_csv('ecommerce/olist_customers_dataset.csv')
df1.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [17]:
df1.shape

(99441, 5)

In [18]:
df1['customer_unique_id'].value_counts()

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
                                    ..
27d7f696f79576294166f9d85ec1f293     1
38a6f0de9f690776df8df2d6458fb307     1
73a229f5f1038f3106643f4a4288402c     1
40b595c47c70efd125384067ae43c8e8     1
03872faea1fac00ae8da6e805bcb73e7     1
Name: customer_unique_id, Length: 96096, dtype: int64

In [20]:
df1['customer_zip_code_prefix'].value_counts()

22790    142
24220    124
22793    121
24230    117
22775    110
        ...
59820      1
47590      1
56313      1
44023      1
39113      1
Name: customer_zip_code_prefix, Length: 14994, dtype: int64

In [ ]:
df1['customer_city'].value_counts()

We have around `100,000` customers from `4,000+` cities.

In [10]:
df2 = pd.read_csv('ecommerce/olist_sellers_dataset.csv')
df2.head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

In [11]:
df2.shape

(3095, 4)

In [12]:
df2['seller_city'].value_counts()

sao paulo         694
curitiba          127
rio de janeiro     96
belo horizonte     68
ribeirao preto     52
                 ...
bandeirantes        1
luiz alves          1
cananeia            1
sao vicente         1
soledade            1
Name: seller_city, Length: 611, dtype: int64

We have around `3,000` sellers from `600+` cities.

In [13]:
df3 = pd.read_csv('ecommerce/olist_products_dataset.csv')
df3.head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

In [14]:
df3.shape

(32951, 9)

In [15]:
df3['product_category_name'].value_counts()

cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 73, dtype: int64

In [40]:
df4 = pd.read_csv('ecommerce/olist_orders_dataset.csv', parse_dates=True)
df4.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [41]:
df4.shape

(99441, 8)

In [33]:
d1 = df4['order_purchase_timestamp'].min()
d1

'2016-09-04 21:15:19'

In [34]:
d2 = df4['order_purchase_timestamp'].max()
d2

'2018-10-17 17:30:18'

In [35]:
d1 = datetime.strptime(d1, "%Y-%m-%d %H:%M:%S")
d2 = datetime.strptime(d2, "%Y-%m-%d %H:%M:%S")
(d2 - d1).days

772

In [38]:
df5 = pd.read_csv('ecommerce/olist_order_items_dataset.csv')
df5.head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

In [39]:
df5.shape

(112650, 7)